<mat-tab-group mat-stretch-tabs disableRipple dynamicHeight>
    <mat-tab label="Table">
        <app-dummy-page1></app-dummy-page1>
    </mat-tab>
    <mat-tab label="Bar Chart">
        <app-dummy-page2></app-dummy-page2>
    </mat-tab>
    <mat-tab label="Bar Chart (multiple datasets)">
        <app-dummy-page3></app-dummy-page3>
    </mat-tab>
    <mat-tab label="Bar Chart (stacked)">
        <app-dummy-page4></app-dummy-page4>
    </mat-tab>
    <mat-tab label="Scatter Chart">
        <app-dummy-page5></app-dummy-page5>
    </mat-tab>
</mat-tab-group>