<mat-card>
    <mat-card-content>
        <div class="section-container">

            <mat-radio-group #radioGroup aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selectedOption" disableRipple (change)="radioChange($event)">
                <mat-radio-button class=" example-radio-button " *ngFor="let option of options" [value]="option ">
                    {{option}}
                </mat-radio-button>
            </mat-radio-group>

            <div *ngIf="showSpinner" class="pgr-spinner">
                <app-progress-spinner></app-progress-spinner>
            </div>
            <div *ngIf="showChart" class="bar-chart-area">
                <div class="chart">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>