<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><i class="fa fa-flag" aria-hidden="true"></i> United Airplanes Association</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">	
      <span class="navbar-toggler-icon"></span>	
    </button>
    <span class="user-greeting" *ngIf="authService.user as user">Hello, {{ user.email }} !</span>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="btn btn-primary btn-logoff" (click)="authService.logout()">Sign out  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/flights">
                            <span data-feather="file"></span><i class="fa fa-plane" aria-hidden="true"></i> Flights
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/weather">
                            <span data-feather="shopping-cart"></span><i class="fa fa-cloud" aria-hidden="true"></i> Weather
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/manufacturers">
                            <span data-feather="users"></span><i class="fa fa-industry" aria-hidden="true"></i> Manufacturers
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" id="dashboard-content" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <app-section-dashboard></app-section-dashboard>
            </div>
        </main>
    </div>
</div>