<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3"><i class="fa fa-flag" aria-hidden="true"></i> United Airplanes Association</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navButton">	
      <span class="navbar-toggler-icon"></span>	
    </button>
    <span class="user-greeting" *ngIf="authService.user as user">Hello, {{ user.email }} !</span>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="btn btn-primary btn-logoff" (click)="authService.logout()">Sign out  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>

<div class="container-fluid px-3">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar navbar-collapse collapse">
            <div class="sidebar-sticky navbar-nav pt-3">
                <mat-selection-list class="nav-item" #navopts role="list" [multiple]="false" (selectionChange)="onGroupsChange(navopts.selectedOptions.selected)">
                    <!--<mat-list-option class="list-options" *ngFor="let option of navOptions" [value]="option" (click)="closeMenu()">
                        {{option}}
                    </mat-list-option>-->
                    <mat-list-option class="list-options" [value]="homeOpt" (click)="closeMenu()" [routerLink]="['./home']">Home</mat-list-option>
                    <mat-list-option class="list-options" [value]="flightsOpt" (click)="closeMenu()" [routerLink]="['./flights']">1. Flights</mat-list-option>
                    <mat-list-option class="list-options" [value]="weatherOpt" (click)="closeMenu()" [routerLink]="['./weather']">2. Weather</mat-list-option>
                    <mat-list-option class="list-options" [value]="manufacturersOpt" (click)="closeMenu()" [routerLink]="['./manufacturers']">3. Manufacturers</mat-list-option>
                </mat-selection-list>
            </div>
        </nav>

        <main role="main" id="dashboard-content" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
                <router-outlet></router-outlet>
                <!--<app-section-dashboard class="tabGroup"></app-section-dashboard>-->
            </div>
        </main>
    </div>
</div>