.user-area {
    font-size: 18px;
    width: auto;
}

.user-greeting {
    margin-right: 20px;
    vertical-align: middle;
}

.navbar {
    vertical-align: middle;
    width: 100%;
    height: 70px !important;
    border-bottom: crimson solid;
}

.fa-plane {
    color: red;
}