<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><i class="fa fa-plane" aria-hidden="true"></i> United Airplanes Association</a>
        </div>
        <div class="user-area">
            <span class="user-greeting" *ngIf="authService.userData as user">Hello, 'email' !</span>
            <a class="btn btn-primary btn-logoff" title="Logoff" (click)="authService.logout()">Logout <i class="fa fa-power-off" aria-hidden="true"></i></a>
        </div>
    </div>
</nav>