.user-area {
    font-size: 18px;
    width: auto;
}

.user-greeting {
    margin-right: 20px;
    vertical-align: middle;
}

.navbar {
    vertical-align: middle;
    width: 100%;
    height: 70px !important;
    border-bottom: crimson solid;
}

.fa-plane {
    color: crimson;
}

.btn-logoff {
    color: white;
    background-color: #161A1E !important;
    border: 1px solid crimson;
}

.btn-logoff:hover {
    color: white;
    background-color: crimson !important;
    border: 1px solid white;
}