@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(140, 166, 207) !important;
    color: white;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.mat-tab-label {
    font-size: 16px;
    color: white !important;
    background-color: rgb(71, 80, 94) !important;
}

.mat-tab-label::selection {
    background-color: red !important;
}

.mat-card {
    padding: 0px !important;
    color: crimson !important;
}

.mat-card .mat-focus-indicator {
    padding: 0px !important;
    top: 25vh !important;
    height: 75vh;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: crimson !important;
}

.mat-card {
    background-color: whitesmoke !important;
    transition: none !important;
    box-shadow: none !important;
}

.mat-card-content {
    color: white;
    background-color: whitesmoke !important;
}

.pgr-spinner {
    display: flex;
    align-items: center;
    justify-content: center
}

canvas {
    align-self: center;
    width: 100% !important;
    height: 75vh !important;
}

.mat-radio-outer-circle {
    border-color: crimson;
}

.mat-radio-button {
    color: black !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    color: black !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: crimson !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(255, 37, 37, .26);
}

.mat-ripple-element {
    display: none !important;
}

.mat-tab-group {
    width: 100% !important;
    display: flex;
}

.mat-tab-label.mat-tab-label-active {
    background-color: darkgreen;
}

.mat-ink-bar {
    height: 5px !important;
    background-color: crimson !important;
}

.md-tab-label {
    max-width: 20px !important;
}

.router-flex {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

#routerParent {
    width: 100%;
}

.spinnerText {
    color: crimson !important;
}

.sepLogo {
    text-align: center;
}