@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
    box-sizing: border-box;
}

html {
    height: 100%
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
    height: 100%;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.section-container {
    padding: 10px;
}

.mat-tab-label {
    font-size: 16px;
    color: white !important;
    background-color: teal !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: crimson !important;
}

.mat-card {
    background-color: #161A1E !important;
    transition: none !important;
    box-shadow: none !important;
}

.mat-card-content {
    color: white;
    background-color: #161A1E !important;
}

.pgr-spinner {
    display: flex;
    align-items: center;
    justify-content: center
}

canvas {
    align-self: center;
    width: 100% !important;
    height: 700px !important;
}