@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.mat-tab-label {
    font-size: 16px;
    color: white !important;
    background-color: teal !important;
}

.mat-tab-label::selection {
    background-color: red !important;
}

.mat-card .mat-focus-indicator {
    top: 25vh !important;
    height: 75vh;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: crimson !important;
}

.mat-card {
    background-color: #161A1E !important;
    transition: none !important;
    box-shadow: none !important;
}

.mat-card-content {
    color: white;
    background-color: #161A1E !important;
}

.pgr-spinner {
    display: flex;
    align-items: center;
    justify-content: center
}

canvas {
    align-self: center;
    width: 100% !important;
    height: 75vh !important;
}

.mat-radio-outer-circle {
    border-color: crimson;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: crimson;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(66, 134, 244);
    background-color: cyan;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(255, 37, 37, .26);
}

.mat-ripple-element {
    display: none !important;
}