<container-element [ngSwitch]="selectedLink">
    <!-- the same view can be shown in more than one case -->
    <app-section-welcome class="tabGroup" *ngSwitchCase="'home'"></app-section-welcome>
    <app-flights-tabgroup class="tabGroup" *ngSwitchCase="'flights'"></app-flights-tabgroup>
    <app-weather-tabgroup class="tabGroup" *ngSwitchCase="'weather'"></app-weather-tabgroup>
    <app-manufacturers-tabgroup class="tabGroup" *ngSwitchCase="'manufacturers'"></app-manufacturers-tabgroup>
</container-element>