<mat-tab-group #tabGroup mat-stretch-tabs disableRipple dynamicHeight (selectedTabChange)='onTabSelectChange($event)' [(selectedIndex)]=selectedIndex>
    <mat-tab label="1.1" [aria-label]>
        <app-flights-page1></app-flights-page1>
    </mat-tab>
    <mat-tab label="1.2">
        <app-flights-page2></app-flights-page2>
    </mat-tab>
    <mat-tab label="1.3">
        <app-flights-page3></app-flights-page3>
    </mat-tab>
    <mat-tab label="1.4">
        <app-flights-page4></app-flights-page4>
    </mat-tab>
    <mat-tab label="1.5">
        <app-flights-page5></app-flights-page5>
    </mat-tab>
</mat-tab-group>