<mat-card>
    <mat-card-content>
        <div class="section-container">
            <span>The daily mean temperature (in Celsius) for each origin in the same plot:</span>
            <br>
            <div *ngIf="showSpinner" class="pgr-spinner">
                <app-progress-spinner></app-progress-spinner>
            </div>
            <div *ngIf="showChart" class="chart">
                <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions" [chartType]="scatterChartType">
                </canvas>
            </div>
        </div>
    </mat-card-content>
</mat-card>