<mat-tab-group #tabGroup mat-stretch-tabs disableRipple dynamicHeight (selectedTabChange)='onTabSelectChange($event)'>
    <mat-tab label="2.1">
        <ng-template mat-tab-label>
            <span><i class="fa fa-cloud" aria-hidden="true"></i> 1</span>
        </ng-template>
        <app-weather-page1></app-weather-page1>
    </mat-tab>
    <mat-tab label="2.2">
        <ng-template mat-tab-label>
            <span><i class="fa fa-cloud" aria-hidden="true"></i> 2</span>
        </ng-template>
        <app-weather-page2></app-weather-page2>
    </mat-tab>
    <mat-tab label="2.3">
        <ng-template mat-tab-label>
            <span><i class="fa fa-cloud" aria-hidden="true"></i> 3</span>
        </ng-template>
        <app-weather-page3></app-weather-page3>
    </mat-tab>
    <mat-tab label="2.4">
        <ng-template mat-tab-label>
            <span><i class="fa fa-cloud" aria-hidden="true"></i> 4</span>
        </ng-template>
        <app-weather-page4></app-weather-page4>
    </mat-tab>
</mat-tab-group>