<div class="displayTable">
    <div class="displayTableCell">

        <div class="authBlock">
            <h3>Sign In</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Email" #email required>
            </div>

            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPassword required>
            </div>

            <!-- Calling SignIn Api from AuthService -->
            <div class="formGroup">
                <!--<button type="button" class="btn btn-success" value="Log in" (click)="authService.Login(email.value, userPassword.value)">Login</button> -->
                <a class="btn btn-primary btn-logoff" title="Log in" (click)="authService.Login(email.value, userPassword.value)">Login <i class="fa fa-power-off" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>